.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #352f44;
}

button {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  background-color: #faf0e6;
  width: 170px;
  height: 50px;
  font-size: 1.5rem;
  color: #232931;
  font-family: "Lobster", cursive;
  border-radius: 30px;
}

h1 {
  margin: 6px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #faf0e6;
}

p {
  font-size: 2rem;
  color: #faf0e6;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.tombol:hover {
  box-shadow: 0 0 5px 5px #b9b4c7;
}
